%table.table
  %thead
    %tr
      %th Name
      %th Count
      %th

  %tbody
    - @cart_items.each do |cart_item|
      %tr
        %td= cart_item.product.name
        %td= cart_item.product_count
        %td
          = link_to '+', users_cart_item_path(cart_item, increment: true), method: :put
          = link_to '-', users_cart_item_path(cart_item, decrement: true), method: :put
          = link_to 'Destroy', [:users, cart_item], method: :delete, data: { confirm: 'Are you sure?' }
