%p#notice= notice
%h1 Admins Products
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @admins_products.each do |admins_product|
      %tr
        %td= link_to 'Show', admins_product
        %td= link_to 'Edit', edit_admins_product_path(admins_product)
        %td= link_to 'Destroy', admins_product, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Admins Product', new_admins_product_path
